body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}


.form-container {
	top:100px;
    background-color: rgba(255, 255, 255, 0.85); /* Transparent white background */
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px 30px;
    width: 50%;
    margin: auto;
}

table {
    width: 100%;
    border-spacing: 10px;
    color: #333;
}

label {
    font-weight: bold;
    color: #555;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

textarea {
    resize: vertical;
    height: 80px;
}

.button {
    background-color: #6a11cb;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.button:hover {
    background-color: #6a11cb;
}

tr:nth-child(even) td {
    padding-bottom: 10px; /* Add spacing between rows */
}

@media (max-width: 768px) {
    .form-container {
        width: 90%;
        padding: 15px;
    }

     h3 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 22px;
        font-weight: bolder;
        color: black; /* Sets the color of the h3 element to black */
    }
}
